<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SteveYi Short Link</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css">
    <link rel="icon" href="https://network.steveyi.net/logo.png">
    <script src='https://www.recaptcha.net/recaptcha/api.js' async defer></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.11/vue.global.js'></script>
    <meta property="og:title" content="SteveYi Short Link" />
    <meta property="og:url" content="https://steveyi.net/ShortLink/" />
    <meta property="og:image" content="https://static.yiy.tw/static/img/og/ShortLink.png" />
    <meta property="og:image:secure_url" content="https://static.yiy.tw/media/yi/life/image03.jpg" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="SteveYi ShortLink Service" />
    <meta property="og:site_name" content="SteveYi ShortLink Service" />
</head>

<body>
    <div class="ts padded horizontally fitted fluid slate">
        <div class="ts very narrow container">
            <h1>酷小易 ㄉ 短網址</h1>
            <p>立刻縮短你的網址吧！</p>
        </div>
    </div>
    <br>
    <div class="ts very narrow container" id="app">
        <div class="ts positive message" v-if="shortlink">
            <div class="header">恭喜！短網址已經建立好了。</div>
            <a :href="shortlink">短網址: ${shortlink}</a>
        </div>
        <div class="ts negative message" v-if="shortlinkError">
            <div class="header">出錯啦!</div>
            <p>${shortlinkError}</a>
        </div>
        <div class="ts clearing segment">
            <form class="ts form" id="short-link-form" @submit.prevent="createShortLink">
                <div class="field">
                    <label></label>
                    <input placeholder="輸入你想縮短的網址..." type="text" name='link'>
                </div>
                <p>系統會記錄您目前的 IP 位置: ${IP}</p>
                <div class='captcha_wrapper'>
                    <br>
                    <div class='g-recaptcha' data-sitekey='6LdkGd8UAAAAAM2gOhnVwf64D2arRTf0OXI6tNSy'></div>
                </div>
                <button class="ts right floated button">建立!</button>
            </form>
        </div>
        Design by 酷小易 @ 2021
        <br/>
    </div>
</body>
<script>
    const App = {
        delimiters: ['${', '}'],
        data() {
            return {
                IP: '0.0.0.0',
                shortlink: "",
                shortlinkError: ""
            }
        },
        async created() {
            this.getIP()
        },
        methods: {
            async getIP() {
                let {
                    IP,
                    ASN,
                    ASN_ISP,
                    Country_Code,
                    Organization
                } = await fetch('https://ip.steveyi.net/ip/').then(x => x.json())
                this.IP = IP
            },
            async createShortLink(e) {
                this.shortlink = ""
                this.shortlinkError = ""

                let formData = new URLSearchParams(new FormData(document.getElementById('short-link-form')));
                const res = await fetch('/api/v1/create', {
                    method: 'POST',
                    body: formData,
                })
                if (res.ok) {
                    const data = await res.json()
                    console.log(data)
                    this.shortlink = data.Link
                } else {
                    const data = await res.json()
                    console.error(data)
                    this.shortlinkError = data.Message;
                }
            }
        }
    }
    Vue.createApp(App).mount('#app')
</script>

</html>