<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>短網址列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css">
    <link rel="icon" href="https://network.steveyi.net/logo.png">
    <script src='https://www.recaptcha.net/recaptcha/api.js' async defer></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.11/vue.global.js'></script>
    <meta property="og:title" content="SteveYi Short Link" />
    <meta property="og:url" content="https://steveyi.net/ShortLink/" />
    <meta property="og:image" content="https://static.yiy.tw/static/img/og/ShortLink.png" />
    <meta property="og:image:secure_url" content="https://static.yiy.tw/media/yi/life/image03.jpg" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="SteveYi ShortLink Service" />
    <meta property="og:site_name" content="SteveYi ShortLink Service" />
</head>

<body>
    <div class="ts padded horizontally fitted fluid slate">
        <div class="ts very narrow container">
            <h1>酷小易 ㄉ 短網址列表</h1>
            <p>短網址列表！</p>
        </div>
    </div>
    <br>
    <div class="ts very narrow container" id="app">
        <div class="ts negative message" v-if="shortlinkError">
            <div class="header">糟糕，出了一點小錯誤！</div>
            <p>${shortlinkError}</p>
        </div>
        <div class="ts clearing segment">
            <form class="ts form" id="short-link-form" @submit.prevent="createShortLink">
                <div class="field">
                    <label></label>
                    <input placeholder="請輸入 Token 以進行存取" type="password" name='token'>
                </div>
                <button class="ts right floated button">存取!</button>
            </form>
        </div>
        <table class="ts celled table" v-if="shortlink">
            <thead>
                <tr>
                    <th>代碼</th>
                    <th>原始網址</th>
                    <th>產生時的 IP 位置</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>${shortlink.code}</td>
                    <td>${shortlink}</td>
                    <td>${shortlink.IP_Address}</td>
                </tr>
            </tbody>
        </table>
        Design by 酷小易 @ 2021
        <br/>
    </div>
    <script>
        const App = {
            delimiters: ['${', '}'],
            data() {
                return {
                    IP: '0.0.0.0',
                    shortlink: "",
                    shortlinkError: ""
                }
            },
            methods: {
                async createShortLink(e) {
                    this.shortlink.code = ""
                    this.shortlink.Source_Link = ""
                    this.shortlink.IP_Address = ""
                    this.shortlinkError = ""

                    let formData = new URLSearchParams(new FormData(document.getElementById('short-link-form')));
                    const res = await fetch('/api/v1/list', {
                        method: 'POST',
                        body: formData,
                    })
                    if (res.ok) {
                        const data = await res.json()
                        console.log(data)
                        this.shortlink = data.Data[1].Link
                    } else {
                        const data = await res.json()
                        console.error(data)
                        this.shortlinkError = data.Message;
                    }
                }
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>

</html>